{% extends "osroom.com/pages/based/based.html" %}
{% block title %}{{_("主题")}}-{% endblock %}
{% block content %}
<data id="category" content="{{data.category}}"></data>
<div id="app" >
    <div class="row osr-page">
            <div class="col-xs-12">
                 <header class="panel-heading tab-bg-dark-navy-blue osr-panel-heading">
                    <ul class="nav nav-tabs">
                        <li id="head_li_all">
                            <a data-toggle="tab" class="osr-pointer" v-on:click='get_global(1, category_names)'>
                                 {{_("主题")}}
                            </a>
                        </li>
                        <li id="head_li_official-cer-theme">
                            <a data-toggle="tab" class="osr-pointer" v-on:click='get_global(1,["official-cer-theme"])'>
                                 {{_("官方认证")}}
                            </a>
                        </li>
                        <li id="head_li_other-theme">
                            <a data-toggle="tab" class="osr-pointer" v-on:click='get_global(1,["other-theme"])'>
                                 {{_("其他主题")}}
                            </a>
                        </li>
                    </ul>
                </header>
                <br>

                <div id="galley" class="docs-pictures clearfix">
                    <div  v-for="(media, index) in themes.datas" class="osr-img-list osr-pointer col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <img class="osr-media-img" :src="media.url+img_w_h" :alt="media.title" >
                         <div v-if="media.title" class="img-title osr-text-overleft"  data-toggle="tooltip" :title="media.title">
                             {[media.title]}
                         </div>
                        <div v-else class="img-title">&nbsp;</div>
                        <span class="osr-date">
                            <i class="fa fa-exclamation-circle"
                               data-toggle="tooltip" title="{{_('版权归原作者所有,与本站无关.如果侵权,请联系本站删除!')}}" ></i>
                            &nbsp;
                            <a v-if="media.text" class="fa fa-eye osr-date" :href="'/theme/introduction?mid='+media._id" target="_blank" >
                                {{_("瞄简介")}}
                            </a>
                            <a v-if="media.link" class="fa fa-download osr-date" :href="media.link" target="_blank" >
                                {{_("下载")}}
                            </a>
                        </span>
                         <hr>
                    </div>
                </div>

                <!-- 页面导航-->
                <div class="text-center visible-lg visible-md">
                    <ul class="pagination">
                        <li v-if="pages.last < pages.current_page && pages.last>0">
                            <a class="osr-pointer" v-on:click="get_global(pages.last, current_category)">«</a>
                        </li>
                        <li v-else class="disabled">
                            <a>«</a>
                        </li>

                        <li v-for="page in pages.last_show" >
                            <a class="osr-pointer" v-if="page!='...'" v-on:click="get_global(page, current_category)">{[page]}</a>
                            <a v-else href="#">...</a>
                        </li>

                        <li class="active">
                            <a class="osr-pointer" v-on:click="get_global(pages.current_page, current_category)">{[pages.current_page]}</a>
                        </li>

                       <li v-for="page in pages.next_show" >
                            <a class="osr-pointer" v-if="page!='...'" v-on:click="get_global(page, current_category)" >{[page]}</a>
                            <a v-else href="#">...</a>
                       </li>

                       <li v-if="pages.next > pages.current_page && pages.next<=pages.page_total">
                            <a class="osr-pointer" v-on:click="get_global(pages.next, current_category)">»</a>
                        </li>
                        <li v-else class="disabled">
                            <a>»</a>
                        </li>
                    </ul>
               </div>
                <!-- //页面导航-->

                 <!-- m页面导航-->
                <ul class="pager col-sm-12 visible-xs visible-sm">
                    <li v-if="pages.last < pages.current_page && pages.last>0" class="previous">
                        <a v-on:click="get_global(pages.last, current_category)" class="osr-pointer">
                            {{_("上一页")}}
                        </a>
                    </li>
                     <span class="text-center osr-text">{{_('第{[themes.current_page]}页/共{[themes.page_total]}页')}}</span>
                    <li v-if="pages.next > pages.current_page  && pages.next<=pages.page_total" class="next">
                        <a v-on:click="get_global(pages.next, current_category)" class="osr-pointer">
                            {{_("下一页")}}
                        </a>
                    </li>
                </ul>
                <!-- //m页面导航-->
        </div>
    </div>
</div>
<script>

    var vue = new Vue({
      el: '#app',
      delimiters:['{[', ']}'],
      data:{
            themes:[{}],
            category_names:["official-cer-theme", "other-theme"],
            current_category:"all",
            sort:"t-desc",
            pages:[],
            page:1,
            img_w_h:"?w=0&h=120",
      },
      filters: {
            formatDate: function (time) {
              return irrformatDate(time, "yyyy-MM-dd hh:mm");
            }
      }
    })

    // 加载完页面执行
    $(document).ready(function(){
        var current_category = $("#category").attr("content");
        vue.current_category = current_category?current_category:"all";

        nav_active("head_li_"+vue.current_category);

        var url_s = get_url_parameter()
        vue.page = get_obj_value(url_s, "page", vue.page)

        if(!vue.current_category || vue.current_category == "all"){
            vue.current_category = vue.category_names;
        }else{
            vue.current_category = [vue.current_category]
        }
        get_global(vue.page, vue.current_category);

    })



    function get_global(page, category_name){
        vue.page = page;
        vue.current_category = category_name;
        var d ={
            category_type:"image",
            category_name:JSON.stringify(vue.current_category),
            page:vue.page,
            pre:12
        }

        var result = osrHttp("GET","/api/global/media", d, args={not_prompt:true});

        result.then(function (r) {
            vue.themes = r.data.medias;
            vue.pages = paging(page_total=vue.themes.page_total, current_page=vue.themes.current_page);
        });

        if(vue.current_category.length < 2){
            var temp_category = vue.current_category[0];
        }else{
            var temp_category = "all";
        }

        var url = window.location.pathname
                    +"?category="+temp_category
                    +"&page="+page
        history_state(null, url);
    }


</script>

{% endblock %}